<mat-toolbar color="primary" class="app-header">
    <div>Art Gallery</div>
    <!-- <span class="nav-tool-items"> -->
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <a routerLink="/painting" routerLinkActive="active-link">Painting</a>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <a routerLink="/music">Music</a>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <a routerLink="/profile">Manage</a>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
            Logout
        </button>
    <!-- </span> -->
</mat-toolbar>