p {
  font-family: Lato;
}

mat-button-toggle {
  width: 50px;
  height: 50px;
}

table {
  width: 100%;
  margin: 10px 0 0 0;
}

mat-icon {
  cursor: pointer;
}

img {
  width: 30px;
  height: 30px;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell,
.mat-header-row,
.mat-header-cell-def {
  font-weight: 300;
  font-size: 13px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: gainsboro;
  /* background-color: lightgrey; */
}