.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.mat-form-field {
  display: block;
  width: 50%;
}

.btn-block {
  width: 15%;
    border: 1px solid currentColor;
    line-height: 38px;
    background: inherit;
    border-radius: 4px;
}
